*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--bg-light-color: #fff;
	--bg-dark-color: #404040;
	--bg-darkest-color: #000;
	--text-light-color: #404040;
	--text-dark-color: #fff;
}

body{
	overflow: hidden;
}

.light{
	--bg: var(--bg-light-color);
	--title-color: var(--text-light-color);
	--moon-color: #f2f2f2;
}

.dark{
	--bg: var(--bg-dark-color);
	--title-color: var(--text-dark-color);
	--moon-color: #cd4748;
}

.darkest{
	--bg: var(--bg-darkest-color);
	--title-color: var(--text-dark-color);
	--moon-color: #cd4748;
}

#wrapper{
	height: 100vh;
	display: flex;
	justify-content: space-between;
	background-color: var(--bg);
	transition: background 0.5s;
}

#bg{
	overflow: hidden;
	flex: 1;
}

.moon-color{
	fill: var(--moon-color);
	transition: fill 0.5s;
}

#title-404{
	display: flex;
	justify-content: center;
	align-items: center;
}

#title-404 > h1{
	font-size: 25vw;
	padding: 10px;
	font-family: sans-serif;
	user-select: none;
	color: var(--title-color);
	transition: color 0.5s;
}

#theme-switcher{
	position: absolute;
	top: 0;
	right: 20px;
	display: flex;
	background-color: #6c63ff;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

#theme-switcher > span{
	display: inline;
	cursor: pointer;
	margin: 5px 5px 0px 5px;
}

#light-theme-btn > svg{
	fill: #FF9800;
}

#dark-theme-btn > svg{
	fill: #222;
}

#darkest-theme-btn > svg{
	fill: #000;
}

@media screen and (max-width: 800px) {
  #wrapper{
		flex-direction: column;
    align-items: normal;
    justify-content: normal;
	}
	#bg{
		flex: none;
	}
	#title-404{
		flex: 1;
	}
}